# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 针对所有文件的通用设置
[*]
# 使用 UTF-8 编码
charset = utf-8
# 使用 Unix 风格的换行符
end_of_line = lf
# 文件末尾强制添加换行符
insert_final_newline = true
# 删除行尾多余的空格
trim_trailing_whitespace = true
# 使用 4 个空格进行缩进
indent_style = space
indent_size = 4

# 针对 Java 文件的特定设置
[*.java]
# 每行最大长度为 120 个字符
max_line_length = 120

# 针对 JSON、YAML 文件的特定设置
[*.{json,yml,yaml}]
# 使用 2 个空格进行缩进
indent_size = 2

# 针对 Markdown 文件的特定设置
[*.md]
indent_size = 2
# 不自动删除行尾空格
trim_trailing_whitespace = false

# 针对 HTML 文件的特定设置
[*.html]
indent_size = 2
